<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'navbar.html' %}
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"rel="stylesheet"/>
  </head>

  <body>
    {% block content %}
    <div class="login-box">
      <h1>Login</h1>
      <form method="POST" action="{{url_for('login')}}">
        <label>Email</label>
        <input type="email" name="email"/>
        <label>Password</label>
        <input type="password" name="password" />
        <button type="submit" name="submit" class="login_btn">Submit</button>

        <p>Forgot Password - <a href="{{url_for('reset')}}">Reset</a></p>
        <p class="para-2">
          Don't have an account? <a href="{{url_for('register')}}">Sign Up Here</a>
        </p>
      </form>
    </div>
    {% endblock %}
    {{ error3 }}
  </body>
</html>